.radioGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.radioInput {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-lg);
}

.absolute {
  width: 100%;
}

.relative {
  width: 100%;
}
