.editorBlock {
  width: 100%;
  padding: 0px 20px;
}

.doubleViewHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: #cccccc solid 1px;
  background-color: #e6e6e6;
  width: 100%;
}

.associatedBlockHeader {
  padding: 10px;
  min-height: 85px;
  width: 100%;
}

.associatedBlockHeaderText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
}

.blockHeader {
  width: 48%;
  padding: 10px;
  min-height: 85px;
}

.blockHeaderText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.blockHeader:last-child {
  border-left: #cccccc solid 1px;
}

.renderStyle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10px;

  button {
    padding: var(--spacing-sm) !important;
  }

  button:last-child {
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
  }

  button:first-child {
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
  }
}

.editor {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--gray-500);
}
