.wrapper {
  width: 100%;
  height: 100vh;

  .btnActions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-md)
      var(--spacing-lg);
    background-color: var(--gray-700);
    margin: var(--spacing-sm) 0px;
    border-radius: var(--border-radius-lg);
  }

  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navItem {
    margin: 0 10px;
    cursor: pointer;
    color: var(--gray-100);

    .text {
      margin-bottom: var(--spacing-md);
    }

    &:hover {
      border-bottom: solid 2px var(--gray-100);
    }
  }

  .isActive {
    color: var(--blue-500);
    border-bottom: solid 2px var(--blue-500);

    &:hover {
      color: var(--blue-600);
      border-bottom: solid 2px var(--blue-600);
    }
  }

  .providers {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    width: 220px;
    margin: var(--spacing-sm);
  }

  .cardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--spacing-sm);

    img {
      height: 32px;
      width: 32px;
    }
    p {
      font-size: var(--font-size-sm);
    }
  }
}
