.wrapper {
  width: 100%;
  height: 100vh;

  .btnActions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    button {
      margin: var(--spacing-md);
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-md)
      var(--spacing-lg);
    background-color: var(--gray-700);
    margin: var(--spacing-sm) 0px;
    border-radius: var(--border-radius-lg);
  }

  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navItem {
    margin: 0 10px;
    cursor: pointer;
    color: var(--gray-100);

    .text {
      margin-bottom: var(--spacing-md);
    }

    &:hover {
      border-bottom: solid 2px var(--gray-100);
    }
  }

  .isActive {
    color: var(--blue-500);
    border-bottom: solid 2px var(--blue-500);

    &:hover {
      color: var(--blue-600);
      border-bottom: solid 2px var(--blue-600);
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-700);
    padding: var(--spacing-xxl) var(--spacing-lg);
    border-radius: var(--border-radius-md);
    border: solid 1px var(--gray-500);
    text-align: center;
    line-height: 2rem;
  }
}
