.codeBlock {
  position: relative;
  background-color: var(--gray-800);
  color: var(--gray-200);
  line-height: 1.5rem;
  border-radius: var(--border-radius-md);
  font-weight: 500;

  .copyBtn {
    position: absolute;
    right: 4px;
    top: 12px;
  }

  pre {
    background-color: var(--gray-900) !important;
    border-radius: var(--border-radius-md) !important;
    border: solid 2px var(--gray-500) !important;
    padding: var(--spacing-lg) !important;
    overflow-y: auto;
  }

  code {
    background-color: var(--gray-900) !important;
  }
}
