.codeBlock {
  padding: var(--spacing-sm);
  position: relative;
  background-color: var(--gray-800);
  color: var(--gray-200);
  overflow-x: auto;
  line-height: 1.5rem;
  border-radius: var(--border-radius-md);
  font-weight: 500;
  overflow: hidden;

  pre {
    padding: var(--spacing-lg);
    overflow-y: scroll;
  }

  .copyBtn {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
