load("@io_bazel_rules_docker//container:container.bzl", "container_push")

filegroup(
    name = "{{ stage }}-{{ attributes }}-files",
    srcs = glob([
        "*.yaml",
    ]),
    visibility = ["//visibility:public"],
)

container_push(
    name = "api-container-deploy-{{ stage }}",
    format = "Docker",
    repository = "{{ namespace }}-{{ stage }}-registry-api",
    image = "//api:container",
    registry = "{{ registry_repository_url }}",
    tag = "{{ stage }}",
    visibility = ["//visibility:public"],
)

container_push(
    name = "celery-container-deploy-{{ stage }}",
    format = "Docker",
    repository = "{{ namespace }}-{{ stage }}-registry-celery",
    image = "//common/celery_tasks:container",
    registry = "{{ registry_repository_url }}",
    tag = "{{ stage }}",
    visibility = ["//visibility:public"],
)

genrule(
    name = "{{ stage }}-{{ attributes }}",
    srcs = [
        ":api-container-deploy-{{ stage }}",
        ":celery-container-deploy-{{ stage }}",
        ":{{ stage }}-{{ attributes }}-files",
    ],
    executable = True,
    exec_tools = [
        ":api-container-deploy-{{ stage }}",
        ":celery-container-deploy-{{ stage }}",
    ],
    outs = ["run_deploy_{{ stage }}"],
    message = "Deploying CloudUmi to {{ stage }}...",
    cmd = "echo 'echo \"NOTE: This script makes certain assumptions: most have {{ aws_profile }} as a section in your ~/.aws/credentials (see READMEs), must have awscli installed pip install awscli\"; \
           \
           export AWS_PROFILE={{ aws_profile }}; \
           \
           aws ecr get-login-password --region {{ region }} | docker login --username AWS --password-stdin {{ registry_repository_url }}; \
           \
           aws ecs create-cluster --cluster-name {{ ecs_cluster_name }}; \
           \
           register_task_definition_output=`aws ecs register-task-definition --cli-input-yaml file://deploy/infrastructure/live/{{ namespace }}/{{ stage }}-{{ attributes }}/task_definition.yaml`; \
           \
           task_definition_name_version=`echo $register_task_definition_output | jq \'.taskDefinition.taskDefinitionArn | split("/")\'[1]`; \
           \
           aws ecs create-service --cluster {{ ecs_cluster_name }} --service-name {{ ecs_cluster_name }} \
            --task-definition $task_definition_name_version --desired-count 1 --launch-type "FARGATE" --network-configuration \
            --enable-execute-command \
            "awsvpcConfiguration={subnets=[{{ subnet_name_private_az0 }}, {{ subnet_name_private_az1 }}],securityGroups=[{{ ecs_security_group }}]}"; \
           \
           aws ecs update-service --cluster {{ ecs_cluster_name }} --service {{ ecs_cluster_name }} \
            --task-definition $task_definition_name_version --desired-count 1 --enable-execute-command \
            --network-configuration "awsvpcConfiguration={subnets=[{{ subnet_name_private_az0 }}, {{ subnet_name_private_az1 }}],securityGroups=[{{ ecs_security_group }}]}";' >$@",
    tags = ["manual"],
)

genrule(
    name = "destroy",
    srcs = [
        ":{{ stage }}-{{ attributes }}-files",
    ],
    executable = True,
    outs = ["run_destroy_{{ stage }}"],
    message = "Destroying CloudUmi in {{ stage }}...",
    cmd = "ecs-cli compose -f deploy/infrastructure/live/{{ namespace }}/{{ stage }}-{{ attributes }}/compose.yaml \
           -p {{ ecs_cluster_name }} service rm \
           \
           ecs-cli down --cluster-config {{ ecs_cluster_name }}; >$@",
    tags = ["manual"],
)