version: "3"
services:
  {{ cluster_id_safed }}-api:
    image: "259868150464.dkr.ecr.{{ region }}.amazonaws.com/{{ stage }}-registry-api:{{ stage }}"
    ports:
      - "8092:8092"
    environment:
      - SETUPTOOLS_USE_DISTUTILS=stdlib
      - CONFIG_LOCATION={{ config_path_with_bucket }}
    command: >
      bash -c '
      mkdir ~/.ssh;
      echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQClHPc54DoYiOy/0IMoDte+aYKF5vSF6DK1miSUVfbkaUd7MiRIDLPvOyIBEOk9AfHnkah2ka6gyGl7pSkyrMLqcbfnHWb/0q3nWg/InqXl0c/aqgkZoaN4VJi4ejoBj7jnWFbS7EJLaPJlGIWh1HKxHbswjuxiEDImytojAKpwfgD6qK6J8hb6XZyiyS0nv61g8w+4H71WoxjArgTUxzdmAFubyU0SP7EG4GkESCcDzs/JhO74tNAY8cZbmp2XENvbWGXwgOUrfn2RoWMFZE/9a8k/hGkmrujzA1UPk+os8NcjR1oN+/kPUzn1N0xmS+UYUChYAIirnD2NMMppQfKJ" > ~/.ssh/authorized_keys;
      apt-get install -y openssh-server cron;
      mkdir -p /var/run/sshd;
      service ssh restart;
      echo "export $$(strings /proc/1/environ | grep AWS_CONTAINER_CREDENTIALS_RELATIVE_URI)" >> /root/.profile;
      pip install awscli;
      python api/__main__.py'
    logging:
      driver: awslogs
      options:
        awslogs-group: {{ ecs_awslogs_group }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: web

  {{ cluster_id_safed }}-celery:
    image: "259868150464.dkr.ecr.us-west-2.amazonaws.com/{{ stage }}-registry-celery:{{ stage }}"
    environment:
      - SETUPTOOLS_USE_DISTUTILS=stdlib
      - CONFIG_LOCATION={{ config_path_with_bucket }}
    command: >
      bash -c '
      mkdir ~/.ssh;
      echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQClHPc54DoYiOy/0IMoDte+aYKF5vSF6DK1miSUVfbkaUd7MiRIDLPvOyIBEOk9AfHnkah2ka6gyGl7pSkyrMLqcbfnHWb/0q3nWg/InqXl0c/aqgkZoaN4VJi4ejoBj7jnWFbS7EJLaPJlGIWh1HKxHbswjuxiEDImytojAKpwfgD6qK6J8hb6XZyiyS0nv61g8w+4H71WoxjArgTUxzdmAFubyU0SP7EG4GkESCcDzs/JhO74tNAY8cZbmp2XENvbWGXwgOUrfn2RoWMFZE/9a8k/hGkmrujzA1UPk+os8NcjR1oN+/kPUzn1N0xmS+UYUChYAIirnD2NMMppQfKJ" > ~/.ssh/authorized_keys;
      apt-get install -y openssh-server cron;
      mkdir -p /var/run/sshd;
      service ssh restart;
      echo "export $$(strings /proc/1/environ | grep AWS_CONTAINER_CREDENTIALS_RELATIVE_URI)" >> /root/.profile;
      pip install awscli;
      celery -A common.celery_tasks.celery_tasks worker -l DEBUG -B -E --concurrency=8'
    logging:
      driver: awslogs
      options:
        awslogs-group: {{ ecs_awslogs_group }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: celery
