version: "3"
services:
  {{ cluster_id_safed }}-api:
    image: "{{ registry_repository_url_api }}:{{ stage }}"
    ports:
      - "8092:8092"
      - "2222:2222"
    environment:
      - SETUPTOOLS_USE_DISTUTILS=stdlib
      - CONFIG_LOCATION={{ config_path_with_bucket }}
    command: python api/__main__.py
    logging:
      driver: awslogs
      options:
        awslogs-group: {{ ecs_awslogs_group }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: web

  {{ cluster_id_safed }}-celery:
    image: "{{ registry_repository_url_celery }}:{{ stage }}"
    ports:
      - "2223:2223"
    environment:
      - SETUPTOOLS_USE_DISTUTILS=stdlib
      - CONFIG_LOCATION={{ config_path_with_bucket }}
      - CELERY_LOG_LEVEL={{ celery_log_level }}
      - CELERY_CONCURRENCY={{ celery_concurrency }}
    command: celery -A common.celery_tasks.celery_tasks worker -l DEBUG -B -E --concurrency=8
    logging:
      driver: awslogs
      options:
        awslogs-group: {{ ecs_awslogs_group }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: celery
