_global_:
  landing_page_domains:
    - {{ domain_name }}
  integrations:
    aws:
      account_id: {{ account_id }}
      central_role_name: {{ account_id }}-{{ cluster_id_safed }}-NoqCentralRole
      spoke_role_name: {{ account_id }}-{{ cluster_id_safed }}-NoqSpokeRole
      node_role: {{ ecs_task_role_arn }}
      stage: {{ stage }}
      region: {{ region }}
      attributes: {{ attributes }}
      registration_topic_arn: {{ sns_registration_topic_arn }}
      registration_queue_arn: {{ sqs_registration_queue_arn }}
  deployment:
    domain_name: {{ domain_name }}
    namespace: {{ namespace }}
    zone: {{ zone }}
    cluster_id: {{ cluster_id_safed }}
  logging:
    file: ~/logs/cloudumi/cloudumi_tornado.log
  web:
    path: "/templates"
  s3_cache_bucket: {{ bucket_name }}
  development: false
  environment: {{ stage }}
  tornado:
  {% if stage == "staging" %}
    debug: true
  {% else   %}
    debug: false
  {% endif  %}
    port: 8092
    xsrf: true
    xsrf_cookie_kwargs:
      samesite: strict
  plugins:
    auth: cmsaas_auth
    aws: cmsaas_aws
    group_mapping: cmsaas_group_mapping
    internal_celery_tasks: cmsaas_celery_tasks
    metrics: cmsaas_metrics
    internal_config: cmsaas_config
    internal_routes: cmsaas_internal_routes
    internal_policies: cmsaas_policies
  celery:
    clear_tasks_for_development: false
    purge: false
    broker:
      us-east-1: redis://{{ elasticache_address }}:{{ elasticache_port }}/1
      us-west-2: redis://{{ elasticache_address }}:{{ elasticache_port }}/1
      global: redis://{{ elasticache_address }}:{{ elasticache_port }}/1
    backend:
      us-east-1: redis://{{ elasticache_address }}:{{ elasticache_port }}/2
      us-west-2: redis://{{ elasticache_address }}:{{ elasticache_port }}/2
      global: redis://{{ elasticache_address }}:{{ elasticache_port }}/2
    debug: true
  # Saas Configuration
  redis:
    host:
      global: {{ elasticache_address }}
    port: {{ elasticache_port }}
    cluster_mode:
      enabled: false
      nodes:
        global:
          - host: {{ elasticache_address }}
            port: {{ elasticache_port }}
  sentry:
    dsn: {{ sentry_dsn }}
