#!/bin/bash
set -ex
echo
echo "Setting AWS_PROFILE={{ aws_profile }}"
echo
export AWS_PROFILE={{ aws_profile }}

echo
echo "Updating aws-cli"
echo
pip install --upgrade awscli

echo
echo "Logging in to AWS ECR for {{ registry_repository_url }}"
echo
aws ecr get-login-password --region {{ region }} | docker login --username AWS --password-stdin {{ registry_repository_url }}

export VERSION=$(git describe --tags --abbrev=0)

echo
echo "Building and tagging docker image"
echo
docker buildx build --platform=linux/amd64,linux/arm64
    -t {{ namespace }}-{{ stage }}-registry-api \
    -t {{ namespace }}-{{ stage }}-registry-celery \
    -t {{ registry_repository_url_api }}:latest \
    -t {{ registry_repository_url_api }}:$VERSION \
    .

echo
echo "Pushing API container - $VERSION"
echo
# TODO: These are the same image, we should just reference the same container
docker push --all-tags {{ registry_repository_url_api }}

echo
echo "Pushing Celery container - $VERSION"
echo
bazelisk run --action_env=AWS_PROFILE="$AWS_PROFILE" --stamp --workspace_status_command="echo VERSION $VERSION" //deploy/infrastructure/live/{{ namespace }}/{{ stage }}-{{ attributes }}:celery-container-deploy-{{ stage }}

echo
echo "Deploying Service - $VERSION"
echo
VERSION=$VERSION bazelisk run //deploy/infrastructure/live/{{ namespace }}/{{ stage }}-{{ attributes }}:ecs_deployer
