executionRoleArn: {{ ecs_task_execution_role_arn }}
containerDefinitions:
  - dnsSearchDomains: [ ]
    logConfiguration:
      logDriver: awslogs
      options:
        awslogs-group: {{ ecs_cluster_name }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: web
    portMappings:
      - hostPort: 8092
        protocol: tcp
        containerPort: 8092
    entryPoint:
      - bash
      - "-c"
      - 'for m in $(find /app -maxdepth 1 -type d -iname "cloudumi*"); do export PYTHONPATH=$PYTHONPATH:$m; done; python /app/api/container.binary.runfiles/cloudumi/api/__main__.py'
    linuxParameters:
      devices: [ ]
      initProcessEnabled: true
    cpu: 0
    environment:
      - name: CONFIG_LOCATION
        value: {{ config_path_with_bucket }}
      - name: FRONTEND_SENTRY_DSN
        value: "https://5f3b026abb7649fe8b41e903dcb5820f@sentry.noq.dev:4443/2"
      - name: SETUPTOOLS_USE_DISTUTILS
        value: stdlib
    dnsServers: [ ]
    mountPoints: [ ]
    dockerSecurityOptions: [ ]
    volumesFrom: [ ]
    image: {{ registry_repository_url_api }}:{{ stage }}
    essential: true
    links: [ ]
    extraHosts: [ ]
    pseudoTerminal: false
    readonlyRootFilesystem: false
    privileged: false
    name: {{ ecs_cluster_name }}-api
placementConstraints: [ ]
memory: '8192'
taskRoleArn: {{ ecs_task_role_arn }}
family: {{ ecs_cluster_name }}-api
requiresCompatibilities:
  - FARGATE
networkMode: awsvpc
cpu: '2048'
volumes: [ ]
