executionRoleArn: {{ ecs_task_execution_role_arn }}
containerDefinitions:
  - dnsSearchDomains: [ ]
    logConfiguration:
      logDriver: awslogs
      options:
        awslogs-group: {{ ecs_cluster_name }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: celery-flower
    portMappings:
      - hostPort: 7071
        protocol: tcp
        containerPort: 7071
    linuxParameters:
      devices: [ ]
      initProcessEnabled: true
    cpu: 0
    environment:
      - name: CONFIG_LOCATION
        value: {{ config_path_with_bucket }}
      - name: SETUPTOOLS_USE_DISTUTILS
        value: stdlib
      - name: RUNTIME_PROFILE
        value: CELERY_FLOWER
      - name: STAGE
        value: {{ stage }}
    dnsServers: [ ]
    mountPoints: [ ]
    dockerSecurityOptions: [ ]
    volumesFrom: [ ]
    image: {{ registry_repository_url_api }}:{{ stage }}
    essential: true
    links: [ ]
    extraHosts: [ ]
    pseudoTerminal: false
    readonlyRootFilesystem: false
    privileged: false
    name: {{ ecs_cluster_name }}-celery-flower
placementConstraints: [ ]
memory: '512'
taskRoleArn: {{ ecs_task_role_arn }}
family: {{ ecs_cluster_name }}-celery-flower
requiresCompatibilities:
  - FARGATE
networkMode: awsvpc
cpu: '256'
volumes: [ ]
