executionRoleArn: {{ ecs_task_execution_role_arn }}
containerDefinitions:
  - dnsSearchDomains: [ ]
    logConfiguration:
      logDriver: awslogs
      options:
        awslogs-group: {{ ecs_cluster_name }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: web
    portMappings:
      - hostPort: 8092
        protocol: tcp
        containerPort: 8092
    linuxParameters:
      devices: [ ]
      initProcessEnabled: true
    cpu: 0
    environment:
      - name: CONFIG_LOCATION
        value: {{ config_path_with_bucket }}
      - name: FRONTEND_SENTRY_DSN
        value: "https://5f3b026abb7649fe8b41e903dcb5820f@sentry.noq.dev:4443/2"
      - name: SETUPTOOLS_USE_DISTUTILS
        value: stdlib
      - name: RUNTIME_PROFILE
        value: API
      - name: STAGE
        value: {{ stage }}
    dnsServers: [ ]
    mountPoints:
      - containerPath: /data
        sourceVolume: efs-server-AP
    dockerSecurityOptions: [ ]
    volumesFrom: [ ]
    image: {{ registry_repository_url_api }}:latest
    essential: true
    links: [ ]
    extraHosts: [ ]
    pseudoTerminal: false
    readonlyRootFilesystem: false
    privileged: false
    name: {{ ecs_cluster_name }}-api
    {% if stage in ["staging", "prod"] %}
    command:
      - bash
      - -c
      - pip install argh watchdog; watchmedo auto-restart --recursive --pattern="api/*.py;common/*.py" --directory="." --ignore-patterns="./env/*" --verbose python3.11 api/__main__.py
    {% endif %}
placementConstraints: [ ]
memory: '8192'
taskRoleArn: {{ ecs_task_role_arn }}
family: {{ ecs_cluster_name }}-api
requiresCompatibilities:
  - FARGATE
networkMode: awsvpc
cpu: '2048'
volumes:
 - name: efs-server-AP
   efsVolumeConfiguration:
    fileSystemId: {{ aws_efs_data_storage_file_system_id }}
    transitEncryption: ENABLED
    authorizationConfig:
      accessPointId: {{ aws_efs_data_storage_access_point_id }}
      iam: ENABLED
