from subprocess import run

if __name__ == "__main__":
    version = "{{ git_version }}"
    branch_name = "{{ branch_name }}"
    bucket_path = "{{ cdn_bucket_path }}"
    public_url = "{{ cdn_public_url }}"
    repo_dir = "{{ repo_root }}"

    output = []
    output.append(
        run("yarn", capture_output=True, cwd=repo_dir + "/frontend").stdout.decode()
    )
    output.append(
        run(
            "yarn --cwd frontend build_template".split(" "),
            capture_output=True,
            cwd=repo_dir,
        ).stdout.decode()
    )
    output.append(
        run(
            f"aws s3 sync frontend/dist/ {bucket_path}".split(" "),
            capture_output=True,
            cwd=repo_dir,
        ).stdout.decode()
    )
    for out in output:
        print(f"Stdout: {out}\n")
