@import '../variables.default.scss';

.multi-factor-auth {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: $h-20;
  max-width: 1200px;

  &__input {
    max-width: 300px;
  }

  &__qrcode {
    max-width: 350px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }

  &__qrcode_text {
    padding-top: $h-10;
    text-align: center;
    color: $blue-1;
    cursor: pointer;
  }

  &__qrcode_text_code {
    padding-top: $h-10;
    text-align: center;
    cursor: pointer;
    word-break: break-all;
  }
}
