.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: var(--spacing-md);

  .section {
    margin: var(--spacing-sm);
    padding: var(--spacing-md);
    border: 2px solid var(--gray-700);
    border-radius: var(--border-radius-md);
  }

  .sectionHeader {
    background-color: var(--gray-700);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
  }

  .subTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: var(--spacing-lg);
    width: 100%;
  }

  .text {
    color: var(--gray-100);
    padding: var(--spacing-md);
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    button {
      margin: var(--spacing-md);
    }
  }
}
