.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: var(--spacing-md);

  .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    button {
      margin: var(--spacing-md);
    }
  }
}
