.wrapper {
  .actionsBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .exportActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    button {
      margin: var(--spacing-sm);
    }
  }
}
