.tooltip {
  cursor: pointer;
}

.tooltip .tooltipText {
  visibility: hidden;
  left: 0;
  top: 0;
  max-width: 150px;
  background-color: var(--gray-500);
  color: var(--body-color);
  text-align: center;
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;

  &.disabled {
    display: none;
  }

  &.shown {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    border-style: solid;
    border-width: 4px;
    content: '';
    position: absolute;
  }

  &.top {
    transform-origin: bottom;

    &::before {
      border-color: var(--gray-500) transparent transparent transparent;
      left: calc(50% - 4px);
      top: 100%;
    }
  }

  &.right {
    transform-origin: left;

    &::before {
      border-color: transparent var(--gray-500) transparent transparent;
      left: -8px;
      top: calc(50% - 4px);
    }
  }

  &.left {
    transform-origin: right;

    &::before {
      border-color: transparent transparent transparent var(--gray-500);
      left: calc(100%);
      top: calc(50% - 4px);
    }
  }

  &.bottom {
    transform-origin: top;

    &::before {
      border-color: transparent transparent var(--gray-500) transparent;
      left: calc(50% - 4px);
      top: -8px;
    }
  }
}
