# TODO: Check license on all of these
# TODO: Install cmsaas_plugins or just get rid of the concept of plugins
aiozipkin
asgiref # For Asyncio->Sync and Sync->Asyncio in threadpool
atlassian-python-api # Supports creating PRs in BitBucket
bcrypt # Sign stuff in DynamoDB
bleach # For sanitizing json data
boto
boto3
celery
cloudaux
cryptography
deepdiff # For getting deep in nested dictionary differences
ed25519 # For.. more signing
elastic-apm # For Elastic Application Performance Monitoring
furl
gitpython
grpcio==1.41.0
grpcio-tools
joblib  # For some parallelization
jsonschema
logmatic-python
marshmallow
okta_jwt # For parsing ALB Auth JWTs
pandas # For data sciency stuff
parliament # For telling us why our policies suck
password_strength # For checking password strength
policy_sentry # For telling us all the possible AWS actions and resources
pydantic # For models
pyjwt
python3-saml
pytz
PyYAML
redis
redis-py-cluster
redislite
retrying
ruamel.yaml
sentry_sdk # Send errors and exceptions to Sentry
setupmeta
simplejson
tenacity
tornado
ujson
uvloop