{
  "metadata": {
    "apiVersion": "2018-01-29",
    "endpointPrefix": "zelkova",
    "signingName": "zelkova",
    "serviceFullName": "ZelkovaService",
    "serviceId": "ZelkovaService",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "zelkova-2018-01-29",
    "signatureVersion": "v4"
  },
  "operations": {
    "CheckPolicyProperty": {
      "name": "CheckPolicyProperty",
      "http": {
        "method": "POST",
        "requestUri": "/v1/checkPolicyProperty",
        "responseCode": 200
      },
      "input": {
        "shape": "CheckPolicyPropertyRequest"
      },
      "output": {
        "shape": "CheckPolicyPropertyResponse"
      },
      "errors": [
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        }
      ]
    },
    "ComparePolicies": {
      "name": "ComparePolicies",
      "http": {
        "method": "POST",
        "requestUri": "/v1/comparePolicies",
        "responseCode": 200
      },
      "input": {
        "shape": "ComparePoliciesRequest"
      },
      "output": {
        "shape": "ComparePoliciesResponse"
      },
      "errors": [
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        }
      ]
    }
  },
  "shapes": {
    "BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId"
        }
      },
      "required": ["Message", "RequestId"],
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "CheckPolicyPropertyRequest": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfCheckPolicyPropertyRequestItem",
          "locationName": "items"
        }
      },
      "required": ["Items"]
    },
    "CheckPolicyPropertyRequestItem": {
      "type": "structure",
      "members": {
        "Constraints": {
          "shape": "ModelConstraints",
          "locationName": "constraints"
        },
        "Policy": {
          "shape": "__string",
          "locationName": "policy"
        },
        "Property": {
          "shape": "PolicyProperty",
          "locationName": "property"
        },
        "ResourceType": {
          "shape": "ResourceType",
          "locationName": "resourceType"
        }
      },
      "required": ["Policy", "ResourceType", "Property"]
    },
    "CheckPolicyPropertyResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfCheckPolicyPropertyResultItem",
          "locationName": "items"
        }
      }
    },
    "CheckPolicyPropertyResult": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfCheckPolicyPropertyResultItem",
          "locationName": "items"
        }
      },
      "required": ["Items"]
    },
    "CheckPolicyPropertyResultItem": {
      "type": "structure",
      "members": {
        "Model": {
          "shape": "__string",
          "locationName": "model"
        },
        "Property": {
          "shape": "CheckPolicyPropertyResultValue",
          "locationName": "property"
        }
      },
      "required": ["Property"]
    },
    "CheckPolicyPropertyResultValue": {
      "type": "string",
      "enum": ["FALSE", "TRUE", "UNKNOWN"]
    },
    "ComparePoliciesRequest": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfComparePoliciesRequestItem",
          "locationName": "items"
        }
      },
      "required": ["Items"]
    },
    "ComparePoliciesRequestItem": {
      "type": "structure",
      "members": {
        "Constraints": {
          "shape": "ModelConstraints",
          "locationName": "constraints"
        },
        "Policy0": {
          "shape": "__string",
          "locationName": "policy0"
        },
        "Policy1": {
          "shape": "__string",
          "locationName": "policy1"
        },
        "ResourceType": {
          "shape": "ResourceType",
          "locationName": "resourceType"
        }
      },
      "required": ["Policy1", "Policy0", "ResourceType"]
    },
    "ComparePoliciesResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfComparePoliciesResultItem",
          "locationName": "items"
        }
      }
    },
    "ComparePoliciesResult": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfComparePoliciesResultItem",
          "locationName": "items"
        }
      },
      "required": ["Items"]
    },
    "ComparePoliciesResultItem": {
      "type": "structure",
      "members": {
        "Comparison": {
          "shape": "ComparePoliciesResultValue",
          "locationName": "comparison"
        },
        "Model0": {
          "shape": "__string",
          "locationName": "model0"
        },
        "Model1": {
          "shape": "__string",
          "locationName": "model1"
        }
      },
      "required": ["Comparison"]
    },
    "ComparePoliciesResultValue": {
      "type": "string",
      "enum": [
        "EQUIVALENT",
        "INCOMPARABLE",
        "LESS_PERMISSIVE",
        "MORE_PERMISSIVE",
        "UNKNOWN"
      ]
    },
    "Error": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId"
        }
      },
      "required": ["Message", "RequestId"]
    },
    "GatewayTimeoutException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId"
        }
      },
      "required": ["Message", "RequestId"],
      "exception": true,
      "error": {
        "httpStatusCode": 504
      }
    },
    "InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId"
        }
      },
      "required": ["Message", "RequestId"],
      "exception": true,
      "error": {
        "httpStatusCode": 500
      }
    },
    "ModelConstraints": {
      "type": "structure",
      "members": {
        "Actions": {
          "shape": "StringList",
          "locationName": "actions"
        },
        "NotActions": {
          "shape": "StringList",
          "locationName": "notActions"
        },
        "NotPrincipals": {
          "shape": "Principals",
          "locationName": "notPrincipals"
        },
        "NotResources": {
          "shape": "StringList",
          "locationName": "notResources"
        },
        "Principals": {
          "shape": "Principals",
          "locationName": "principals"
        },
        "Resources": {
          "shape": "StringList",
          "locationName": "resources"
        }
      }
    },
    "PayloadTooLargeException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId"
        }
      },
      "required": ["Message", "RequestId"],
      "exception": true,
      "error": {
        "httpStatusCode": 413
      }
    },
    "PolicyProperty": {
      "type": "string",
      "enum": [
        "ALLOWS_IOT_DATA_PLANE_WORLD_REACHABILITY",
        "ALLOWS_IOT_THING_WORLD_REACHABILITY",
        "ALLOWS_SOMETHING",
        "ALLOWS_WORLD_ACCESSIBILITY",
        "ALLOWS_WORLD_READABILITY",
        "ALLOWS_WORLD_WRITABILITY",
        "DENIES_NON_SECURE_TRANSPORT",
        "DENIES_NON_SERVER_SIDE_ENCRYPTION"
      ]
    },
    "Principals": {
      "type": "structure",
      "members": {
        "AWS": {
          "shape": "StringList"
        },
        "Federated": {
          "shape": "StringList"
        },
        "Service": {
          "shape": "StringList"
        }
      }
    },
    "ResourceType": {
      "type": "string",
      "enum": [
        "ES",
        "GLACIER",
        "IAM",
        "IOT",
        "KMS",
        "LAMBDA",
        "S3",
        "SNS",
        "SQS"
      ]
    },
    "StringList": {
      "type": "list",
      "member": {
        "shape": "__string"
      }
    },
    "__boolean": {
      "type": "boolean"
    },
    "__double": {
      "type": "double"
    },
    "__integer": {
      "type": "integer"
    },
    "__listOfCheckPolicyPropertyRequestItem": {
      "type": "list",
      "member": {
        "shape": "CheckPolicyPropertyRequestItem"
      }
    },
    "__listOfCheckPolicyPropertyResultItem": {
      "type": "list",
      "member": {
        "shape": "CheckPolicyPropertyResultItem"
      }
    },
    "__listOfComparePoliciesRequestItem": {
      "type": "list",
      "member": {
        "shape": "ComparePoliciesRequestItem"
      }
    },
    "__listOfComparePoliciesResultItem": {
      "type": "list",
      "member": {
        "shape": "ComparePoliciesResultItem"
      }
    },
    "__long": {
      "type": "long"
    },
    "__string": {
      "type": "string"
    },
    "__timestampIso8601": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "__timestampUnix": {
      "type": "timestamp",
      "timestampFormat": "unixTimestamp"
    }
  }
}
