.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--spacing-md);
  height: 100%;

  .subText {
    color: var(--gray-200);
    font-size: var(--font-size-sm);
  }

  .text {
    color: var(--gray-200);
    font-size: var(--font-size-md);
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-md);
  }

  .content {
    /* max-width: 720px;
    margin: auto; */
    width: 100%;
  }

  .tabLabel {
    font-size: 1rem;
    text-align: center;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centers the cards horizontally */
  }

  .selectedCard {
    background-color: var(--color-highlight);
  }

  .card {
    width: 220px;
    margin: var(--spacing-sm);
  }

  .cardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--spacing-sm);

    img {
      height: 32px;
      width: 32px;
    }
    p {
      font-size: var(--font-size-sm);
    }
  }
}
