.avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;

  &.small {
    width: 20px;
    height: 20px;

    .text {
      font-size: var(--font-size-sm);
    }
  }

  &.medium {
    width: 32px;
    height: 32px;
  }

  &.large {
    width: 64px;
    height: 64px;

    .text {
      font-size: var(--font-size-xxl);
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-md);
    font-weight: bold;
    color: var(--body-color);
    height: 100%;
    width: 100%;
    background-color: var(--blue-600);
  }
}
