.date-time-picker {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__container {
    width: 100%;
    justify-content: center;
  }

  &__time {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }

  &__date {
    width: 100%;

    .field {
      width: 100%;
    }
  }

  &__input-width {
    width: 250px;
    justify-content: center;
  }
}
