.roleSummary {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .content {
    padding: var(--spacing-lg);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    background-color: var(--gray-600);
    overflow-y: auto;
  }

  .sideNav {
    width: 30%;
  }

  .container {
    height: 100%;
    overflow: auto;
    padding-left: 20px;
    border-left: solid 1px var(--gray-700);
  }

  .sectionHeader {
    padding-bottom: 16px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .subHeader {
    padding: 15px 0;
    font-size: 13px;
    font-weight: bold;
    color: var(--gray-100);
  }

  .secondaryText {
    color: var(--gray-100);
    padding-left: var(--spacing-md);
    padding-bottom: var(--spacing-lg);
  }

  .navList {
    list-style: none;
    margin: 0;
    padding: var(--spacing-sm);
    white-space: nowrap;
  }

  .navItem {
    margin: 5px 0;
    padding: var(--spacing-sm);
    cursor: pointer;

    &:hover {
      color: var(--blue-200);
    }

    &.active {
      color: var(--blue-400);
    }
  }
}

.pointer {
  cursor: pointer;
}
