.container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-md);
  padding: 5px;
  background: #1e1e1e;
  border: 1px solid var(--gray-500);

  &:focus {
    outline: none;
  }

  &.error {
    border: 1px solid red;
  }
}
