:root {
  --card-background: transparent;
}

.card {
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  position: relative;
  display: flex;
  flex-direction: column;
  will-change: scale, background-color, color, border-color;
  background: var(--card-background);
  color: var(--card-color);
  border-radius: var(--border-radius-md);
  width: auto;

  &.disablePadding {
    padding: 0;
  }

  &.clickable {
    cursor: pointer;
  }

  &.outlined {
    box-shadow: var(--shadow-300);
    border: solid 1px var(--gray-200);
  }

  &.default {
    --card-background: transparent;
    --card-color: var(--gray-100);
  }

  &.primary {
    --card-background: var(--blue-600);
    --card-color: var(--blue-100);
  }

  &.warning {
    --card-background: var(--orange-700);
    --card-color: var(--gray-100);
  }

  &.secondary {
    --card-background: var(--gray-700);
    --card-color: var(--gray-100);
  }

  &.danger {
    --card-background: var(--red-700);
    --card-color: var(--gray-100);
  }

  .header {
    display: flex;
    align-items: center;

    .push {
      flex: 1;
      margin: 0 0 var(--spacing-md) 0;
    }

    .headerText {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .content {
    flex: 1;
  }
}
