:root {
  --card-background: transparent;
  --card-color: var(--gray-100);
}

.card {
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-md);
  position: relative;
  display: flex;
  flex-direction: column;
  will-change: scale, background-color, color, border-color;
  background: var(--card-background);
  color: var(--card-color);
  border-radius: var(--border-radius-md);
  width: auto;
  margin: var(--spacing-sm);

  &.disablePadding {
    padding: 0;
  }

  &.clickable {
    cursor: pointer;
  }

  &.outlined {
    box-shadow: var(--shadow-300);
    border: solid 1px var(--gray-200);
  }

  &.default {
    --card-background: var(--gray-800);
    --card-color: var(--gray-100);
  }

  &.primary {
    border: solid 1px var(--blue-600);
  }

  &.warning {
    border: solid 1px var(--orange-700);
  }

  &.secondary {
    border: solid 1px var(--gray-200);
  }

  &.danger {
    border: solid 1px var(--red-700);
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-md);

    .push {
      flex: 1;
      margin: 0 0 var(--spacing-md) 0;
    }

    .headerText {
      font-size: var(--font-size-md);
      font-weight: 500;
      color: var(--white);
    }
  }

  .content {
    flex: 1;
    color: var(--gray-200);
  }
}
