.sidebar {
  padding: var(--spacing-md);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gray-700);
  color: var(--card-color);
  width: 60px;
  height: 100vh;
}

.sidebarNav {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebarNav a {
  margin: 10px 0px;
  path {
    stroke: var(--gray-200);
  }

  &:hover {
    path {
      stroke: var(--body-color);
    }
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.sidebarLogo {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursorPointer {
  cursor: pointer;
}

.dropdownContent {
  padding: var(--spacing-sm);
  min-width: 180px;
}

.dropdownItem {
  padding: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);

  .dropdownText {
    padding-left: var(--spacing-sm);
  }
}

.btnContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .btnText {
    padding-left: var(--spacing-xs);
  }
}
