.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../../../assets/illustrations/logo-background-tl.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: url(../../../assets/illustrations/logo-background-br.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
    z-index: -1;
  }

  .box {
    background: #262931;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .form {
    width: 100%;
    min-width: 260px;
  }
}
