.meter {
  display: flex;
  gap: 4px;
  margin: 6px 13px 0;

  > div {
    flex-grow: 1;
    height: 3px;
    border-radius: 3px;
    background-color: grey;
    transition: background-color ease-in-out 0.15s;
  }

  &.weak > div:first-child {
    background-color: red;
  }

  &.medium > div:nth-child(-n + 2) {
    background-color: orange;
  }

  &.strong > div:nth-child(-n + 3) {
    background-color: yellow;
  }

  &.veryStrong > div:nth-child(-n + 4) {
    background-color: green;
  }
}
