.meter {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-sm);
  width: 100%;
  max-width: 320px;

  .weak {
    text-transform: capitalize;
    color: var(--warning-background);
    padding: var(--spacing-sm);
    font-size: var(--font-size-sm);
  }

  .strong {
    text-transform: capitalize;
    color: var(--success-background);
    padding: var(--spacing-sm);
    font-size: var(--font-size-sm);
  }
}
