.actionDetails {
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: var(--spacing-sm);
  }

  .headerActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
      margin: var(--spacing-sm);
    }
  }

  .unusedListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      margin: var(--spacing-sm);
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }
  }

  .selectInput {
    min-width: 50%;
  }
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }

  .codeEditor {
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 450px;
  }

  .contentTable {
    width: 100%;
    min-width: 300px;
    font-size: var(--font-size-sm);
    color: var(--gray-100);
  }
}
