.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-md);

  .cardList {
    width: 100%;
  }

  .header {
    font-size: var(--font-size-lg);
    color: var(--gray-100);
  }

  .subText {
    color: var(--gray-200);
    font-size: var(--font-size-sm);
  }
}

.navcontainer {
  width: 100%;
  height: 950%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-lg);

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-md)
      var(--spacing-lg);
    background-color: var(--gray-700);
    margin: var(--spacing-sm) 0px;
    border-radius: var(--border-radius-lg);
  }

  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navItem {
    margin: 0 10px;
    cursor: pointer;
    color: var(--gray-100);

    .text {
      margin-bottom: var(--spacing-md);
    }

    &:hover {
      border-bottom: solid 2px var(--gray-100);
    }
    .isActive {
      color: var(--blue-500);
      border-bottom: solid 2px var(--blue-500);

      &:hover {
        color: var(--blue-600);
        border-bottom: solid 2px var(--blue-600);
      }
    }
  }
}
