.findings {
  .unusedItems {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .cleanupProcess {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media (max-device-width: 900px) {
  .findings .cleanupProcess {
    flex-direction: column;
  }
}
