.container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-lg) 0;
  }

  .filter {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .table {
    overflow-y: auto;
    margin-bottom: 25px;

    thead {
      z-index: 2;
      position: sticky;
      top: 0px;
      padding-bottom: 20px;
    }
  }

  .tableSecondaryText {
    color: var(--gray-200);
    padding-top: 10px;
  }
}
