.markdown {
  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: revert;
  }
}

.blockquote {
  margin-left: 20px;
  position: relative;
}

.table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
}
.table .th,
.td {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}

.code {
  background-color: var(--gray-400);
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  font-family: monospace;
  overflow-x: auto;
}
