.table {
  border-collapse: collapse;
  width: 100%;

  th {
    background-color: var(--gray-800);
    text-align: left;
    padding: 8px;
  }

  tr:hover {
    background-color: var(--gray-700);
  }

  .center {
    display: flex;
    align-items: center;
    height: 20px;
    /* flex-direction: column; */
  }

  &.striped {
    tr {
      &:nth-child(even) {
        background-color: var(--gray-600);

        &:hover {
          background-color: var(--gray-700);
        }
      }
    }
  }

  &.celled {
    td {
      border: 1px solid var(--gray-600);
    }

    th {
      border: 1px solid var(--gray-600);
    }
  }

  &.basic {
    tr {
      border: 1px solid var(--gray-600);
    }
  }

  &.row {
    tr {
      border-bottom: 1px solid var(--gray-600);
    }
  }

  &.compact {
    td {
      padding: var(--spacing-sm);
    }

    th {
      padding: var(--spacing-sm);
    }
  }

  &.expanded {
    td {
      padding: var(--spacing-lg);
    }

    th {
      padding: var(--spacing-lg);
    }
  }

  td {
    text-align: left;
    padding: 8px;
  }
}
