aiozipkin
amqp
asgiref  # unit tests now pass with 3.6.0, which resolves to iambic's asgiref requirement
atlassian-python-api
bcrypt
billiard
boto
boto3
botocore
celery
certifi
click
cryptography
debugpy
deepdiff
furl
gitpython
google-api-python-client
joblib
jsonschema
kombu
marshmallow
mkdocs
okta
okta-jwt
onelogin
pandas
password_strength
ptvsd
pydantic
PyGithub
pyjwt
pyotp
python-terraform
pytz
PyYAML
requests
retrying
ruamel.yaml
ruamel-yaml-clib
sentry_sdk
simplejson
tornado
typing_extensions
ujson
urllib3
uvloop
validate_email
yappi
vine
